
/* set background image for page */
body {
	background-image: url("../images/layout/body-pattern.jpeg");
}

/* set font family for headings */
/* use google fonts in order to avoid copyright issues */
h1,h2,h3,h4,h5,h6 {
	font-family: 'Fjalla One', sans-serif;
	color: #1f1f1f;
}

/* set font family for page content */
/* use google fonts in order to avoid copyright issues */
p, li, figcaption, time {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
}

h1 span {
	letter-spacing: -1px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.5);
	padding-right: 20px;
	padding-left: 200px;
}

#headerImage {
	position: relative;
	width: 100%;
	height: 250px;
}

/* style navbar */
#nav {
	list-style-type: none;
	margin: 0;
	margin-top: -5px;
	margin-bottom: 10px;
	padding: 0;
	overflow: hidden;
	background-color: #FFF;
	text-align: center;
}

#nav li {
	display: inline;
}

#nav li a {
	display: inline-block;
	color: #1f1f1f;
	text-align: center;
	padding: 10px 40px;
	text-decoration: none;
	border-bottom: 4px solid #FFF;
}

/* Change the link color to #CDC9C5 on hover */
#nav li a:hover {
	background-color: #CDC9C5;
	border-bottom-color: #CDC9C5;
}

/* Give the currently active page a bottom border with the color #CDC9C5 */
#nav li a.active {
	border-bottom: 4px solid #CDC9C5;
}

footer {
	background-color: #FFF;
	border-top: 4px solid #CDC9C5;
	padding-top: 20px;
	margin: auto;
	width: 100%;
	height: 80px;
	text-align: center;
}

/* Used to make sure that the index page heading text remains  */
#indexInfo {
	text-align: center;
}

#content, #images {
	background-color: #FFF;
	border-top-style: solid;
	border-width: 5px;
	border-top-color: #FF9933;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-top: 0px;
}

/* give individual articles a grey bottom border */
article {
	border-bottom: 4px #CDC9C5;
	border-bottom-style: inset;
}


/* Fix columns with flex */
/* define values for the parent flex container */
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 20px;
}

/* define values for child flex container */
#content {
	order: 1;
	flex-grow: 1;
	margin: 10px;
}

/* define values for child flex container */
#images {
	order: 2;
	flex-grow: 1;
	margin: 10px;
}

figure {
	max-width: 30%;
	padding: 10px;
}

figcaption {
	border-top: 4px #CDC9C5;
	border-bottom: 4px #CDC9C5;
	border-top-style: outset;
	border-bottom-style: inset;
	font-style: italic;
	padding: 20px;
}

.fancyimage {
	width: 80%;
	display: block;
	margin: 10px auto;
}

/* place images in news posts on the left hand side */
#newsFeedImage {
	float: left;
	margin: 10px;
}
